<div class="region-lang-selector-container">
  <p class="text-uppercase">Language</p>

  <div class="dropdown js-lang-selector">
    <button class="btn" type="button" id="langSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ .Language.LanguageName }}
      <div class="chevron chevron-down"></div>
      <div class="chevron chevron-up d-none"></div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</a>

      <!-- Manually adding English option to non-English sites -->
      {{ if ne .Sites.First .Site }}
        <a class="dropdown-item" href="{{ replace .Permalink (printf "/%s/" .Language.Lang) "/" }}?lang_pref=en">English</a>
      {{ end }}

      {{ range where .Translations "Language.Lang" "!=" "en" }}
        <a class="dropdown-item" href="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  </div>
</div>